<ul *ngIf="pages?.length>0" class = "pagination">
  <li class = "page-item" [ngClass]="paginator.number == 0?'disabled page-item': 'page-item'">

    <a [routerLink]="['/clientes/page', paginator.number-1]" class = "page-link">&laquo;</a>
  </li>
  <li [ngClass]="paginator.first?'disabled page-item': 'page-item'">
    <a [routerLink]="['/clientes/page', 0]" class = "page-link">First</a>
  </li>
  <li *ngFor="let page of pages" class = "page-item" [ngClass]="page-1 == paginator.number? 'active':''">
    <span *ngIf="page-1 == paginator.number" class = "page-link">{{page}}</span>
    <a [routerLink]="['/clientes/page', page-1]" *ngIf="page-1 != paginator.number" class = "page-link">{{page}}</a>
  </li>
  <li class = "page-item" [ngClass]="paginator.number==paginator.totalPages-1?'disabled page-item': 'page-item'">
    <a [routerLink]="['/clientes/page', paginator.totalPages-1]" class = "page-link">Last</a>
  </li>
  <li class = "page-item" [ngClass]="paginator.number == paginator.totalPages-1?'disabled page-item': 'page-item'">

    <a [routerLink]="['/clientes/page', paginator.number+1]" class = "page-link">&raquo;</a>
  </li>
</ul>
